/** 
Mobile version of the styles contained in default.css 
Any modification here must be reflected there
margin:0 is synchronized with file /resources/normalize.css
*/
body{ font-size:24px; width:100%; margin:0; text-align:justify; color:#555555; font-family:Verdana,Helvetica,sans-serif,Arial; }       
#wrapper{ min-height:100%; }
#header{ width:100%; padding:0; background:0; }        
#content{ width:100%; }
#footer{ width:100%; }
.mainHeader{ width: 100%; background-color:#222222; color:#DDEEFF; }
.mainHeader a{ font-size:1.2em; text-align:center; color:#DDEEFF; }
/** 16% x 6 cols = 96% */
.mainHeader a:hover{ color:black; background-color:white; }
.mainHeader a:active{ color:black; background-color:white; }
#mainHeaderLogo{ text-align:left; color:yellow; font-style:italic; font-size:2em; 
            font-weight:bold; font-family:"lucida calligraphy", sans-serif; 
}

.myEm1{ font-size:1.25em; font-weight:500; }  

.srRow{ text-align:justify; padding:0.25em; }
.srCell{ text-align:left; padding:0.25em; vertical-align:top; }
.srImage{ width:98%; height:auto; }
.srNoImage{width:98%; height:auto; padding:4em 0 4em 0; }

.tview{ text-align:left; }
.tview div{ }
.tview div span{ display:block; }

.tableView0{ overflow:hidden; }
.tableView0 .clearBoth{ clear:both; visibility:hidden; }
.tableView0 .cellView{ float:left; }

#siteCaption{ text-align:center; color:#CCCCCC; font-weight:bold; }    
#indexSearchBox{ display:block; }
.width0{ }
.width1{ }
.width2{ }
.width3{ }
.width4{ }
.width5{ }

.formColumn1{ width: 30%; }
.formColumn2{ }
.formColumn3{ }
.fullHeight{ height:100%; }  
.full{ width:100%; height:100%; }
.tone0{ color:#666666; background-color:#EEEEFF; }
.justifiedContent{ text-align:justify; }      
.justifiedBlock{ display:block; text-align:justify; }      
a{ text-decoration:none; }
a:hover {color:#009900; }
a:active {color:#990000; }
.layout1{ color:#AABBCC; font-style:italic; 
       font-family:"lucida calligraphy", sans-serif; 
}
.spacedList li{ margin-bottom: 0.5em; }    
.spaced { margin-bottom: 0.25em; }
.spaced1{ margin-bottom: 0.5em; }
.spaced2{ margin-bottom:1em; }
.selectedDetails{ border:1px solid gray; }
.advert{ text-align:left; background-repeat:no-repeat; } 
.myBorder{ border:0.125em solid rgb(235,235,255); } 
.myBorder1{ border: 1px solid grey; } 
.myBorder2{ border:1px solid black; } 
.myBorder3{ border:2px solid black; }
.myBorder4{ border:3px solid #EEEEEE; }
/** syncronized with .sideContent */
.myBorder5{ border:0.375em solid rgb(240,235,255); } 
.myBorder6{ border:0.5em #CCDDEE solid; }

input{ font-size:1.4em } 
select{ font-size:1.4em; } 

.form0 { line-height:1.2em; }
.form0 input{ font-size:1.2em; margin-bottom:0.2em; }
.form0 select{ font-size:1.2em; margin-bottom:0.2em; }
.form0 textarea{ font-size:1.2em; margin-bottom:0.2em; }
.formInput{ }

#userOptions{ display:inline-block; vertical-align:top; width:auto; }
#userImage{ display:inline-block; vertical-align:top; }
.userImage{ padding:0.25em; } 
.noUserImage{ padding:4em 0 3em 0; } 
.strike{ text-decoration:line-through; }
.icon{ width:10em; height:10em; }
.smallicon{ width:3em; height:3em; }
.searchMessage{ text-align:left; font-size:1em; color:#999999; }
.borderless{ margin:0; border:0; padding:0; }
#progressBar{ border:0.0625em solid #00CC00; color:#00CC00; text-align:center; font-size:1em; text-decoration:blink; }
#myMessage{ text-align:justify; font-size:1.5em; padding:0.25em; font-weight:600; }  
.hideHandheld{ display:none; visibility:hidden; } 
.boldRed{ color:#FF0000; font-weight:900; border:none; margin:0; padding:0 0.25em 0 0.25em; }
.boldRed:hover{ color:#009900; } 
.boldRed:active{ color:#990000; }

.header1Layout{ text-align:center; margin:0; border:0; padding:0.25em; font-size:1.4em; color:white; background-color:rgb(140,135,155); }
.header2Layout{ text-align:center; margin:0; border:0; padding:0.25em; font-size:1.4em; color:white; background-color:rgb(160,155,175); }
.header3Layout{ text-align:center; margin:0; border:0; padding:0.25em; font-size:1.4em; color:white; background-color:rgb(110,135,155); }
.header4Layout{ text-align:center; margin:0; border:0; padding:0.25em; font-size:1.4em; color:white; background-color:#222222; }

.whiteBackground{ background-color:white; }

.centeredBlock{ display:block; vertical-align:middle; text-align:center; }
.centeredContent{ vertical-align:middle; text-align:center; }
/** @related_17 some web pages use this background-color */
.sideContentBox_header{ background-color:rgb(240,235,255);
    margin-bottom:0.375em; font-weight:bold; text-align:center;
}

.myBtnLayout{ color:#002244; font-weight:700; text-align:center; padding:0.25em 0.5em;
             background-color:rgb(200,210,220); border:1px outset rgb(200,210,220); } /** rgb(225,225,250)*/
.myBtnLayout:hover { background-color:#DDFFEE; }
.myBtnLayout:active { background-color:#FFDDEE; }
.myBtn1Layout{ color:#fff; font-weight:700; text-align:center; padding:0.25em 0.5em; 
    background-color:#5CCD00; border:1px outset #459A00; 
}
.myBtn1Layout:hover { background-color:#7EEF22; }
.myBtn1Layout:active { background-color:#3AAB00; }
.myBtn2Layout{ color:#DDEEFF; font-weight:500; text-align:center; padding:0.25em 0.5em; 
  background-color:#222222; border:1px outset #459A00; 
}
.myBtn2Layout:hover { background-color:#7EEF22; }
.myBtn2Layout:active { background-color:#3AAB00; }
.plainBtnLayout{ color:black; text-align: center; padding:0.25em 0.5em; 
    margin:0; background-color: white;
}
.plainBtnLayout:hover { background-color:#CCEECC; color:black; }
.plainBtnLayout:active { background-color:#EECCCC; color:black; }

.toggleBtnLayout{ color:red; background-color:white; font-weight:600; 
text-align:center; margin:0; padding:0.25em; }        
.maxFontWeight{ font-weight:900; }
#centerBox{ vertical-align:top; width:100%; text-align:justify; }  
.largerIcon{ min-width:75px; min-height:75px; }
.padded{ padding:0.25em; }

.listView0 ul li{ margin-bottom:0.5em; }

.listViewX {  margin-bottom: 0.5em; }
.listViewX ul{ margin:0; padding:0; list-style-type:none; }
.listViewX ul li{ position:relative; }
.listViewX ul li a{ display: block; overflow: auto; /*force hasLayout in IE7 */padding:0.25em; margin-bottom:0.25em; }

/** DROP DOWN MENU STYLES */
.dropDownMenu{ margin:0; padding:0; border:0; text-align:left; }
.dropDownMenu div{ position:absolute; visibility:hidden; margin:0; padding:0;}
.dropDownMenu div a{ width:auto; white-space:nowrap; text-align:left;}

.textstyle_0 { font-family: Gill, Helvetica, sans-serif; font-size: 0.8em; font-weight: 500; color: #9C0251; }  

#searchBoxSelect{ min-width:95%; }  
#searchBoxTextInput{ min-width:75%; }
#searchBoxSubmitButton{ min-width:19%; color:#002244; font-weight:700; text-align:center; padding:0.15em;  
             background-color:rgb(200,210,220); border:1px outset rgb(200,210,220); } /** rgb(225,225,250)*/
#searchBoxSubmitButton:hover { background-color:#DDFFEE; }
#searchBoxSubmitButton:active { background-color:#FFDDEE; }

.hidden{ position:absolute; visibility:hidden; }  
.tableDT{ width:30%; font-weight:bold; text-align:left;
  margin:0.125em; padding:0.125em; border:0.125em; 
}
/** @related_14 b */
.tableDD{ text-align:justify; text-indent:0.25em;
  margin:0.125em; padding:0.125em; border:0.125em;
}
.wrapped{ word-wrapp:break-word; white-space:pre-line; }

